<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HungryMonkey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3ED2C75E1C90F7C300912BF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ED2C7751C90F7C300912BF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ED2C7801C90F7C300912BF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
